html,
body {
  margin: 5%;
  background: rgb(38, 49, 68);
  color: rgb(198, 191, 179);
}

// Intro
.first {
  margin: 4em 0 6em 0;
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .hero-info {
      display: block;
      h2 {
        font-size: 1em;
      }
    }
    .illus-1 {
      width: 10em;
    }
  }
}

// About Me
.about-me {
  margin: 6em 0 6em 0;
  .platforms {
    margin: 0 0 6em 0;
    .links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 10% 0 10% 0;
      font-size: 2em;
      i {
        color: rgb(198, 191, 179);
      }
    }
  }
  .about {
    margin: 0 0 6em 0;
  }
}
